<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/show.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Destination</title>
    </head>
    <body>
        <div id='wrapper'>
            <div class='linkBox'>
                <a href="/main/travels/">Home</a>
                <a href="/main/">Logout</a>
            </div>

            <div class='infoBox'>
                <div class='tripBox'>
                    <h1>{{ trip.name }}</h1>
                    <h3>Planned By:</h3><p>{{ trip.created_by.fname }} {{ trip.created_by.lname }}</p>
                    <h3>Description:</h3><p>{{ trip.desc }}</p>
                    <h3>Travel Date From:</h3><p>{{ trip.date_from }}</p>
                    <h3>Travel Date To:</h3><p>{{ trip.date_to }}</p>
                </div>

                <div class='travelBox'>
                    <h1>RSVPs:</h1>
                    {% for x in travellers %}
                    <p>{{ x.fname }} {{x.lname}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>